.header{
    width: 100%;
    line-height: 40px;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ff6633;
}

/*达人探店列表*/
.chats-list {
    height: 90%;
    width: 100%;
    position: absolute;
}
.chat-box{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    font-size: medium;
    background-color: #fff;
}

.chat-box{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.user-icon{
    width: 34px;
    height: 34px;
}

.user-icon img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.chat-nickname{
    left: 35px;
    height: 34px;
    width: auto;
}