.search-bar {
    background-color: rgb(65, 81, 98);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 7%;
    align-items: center;
    padding: 0 8px;
}

.search-input {
    width: 70%;
}

.find-btn {
    /*width: 2%;*/
    font-size: 14px;
}

.create-btn {
    /*width: 2%;*/
    font-size: 14px;
}

.notice {
    height: 10%;
}

.content {
    height: 80%;
    width: 100%;
    display: flex;
}

/*达人探店列表*/
.chats-list {
    height: 100%;
    width: 100%;
    position: absolute;
}

.chat-box {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    font-size: medium;
    background-color: #fff;
}

.user-list {
    width: 100%;
    position: absolute;
}

.group-list {
    width: 100%;
    position: absolute;
}

.user-box {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    font-size: medium;
    background-color: #fff;
}

.user-icon {
    width: 34px;
    height: 34px;
}

.user-icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.chat-nickname {
    left: 35px;
    height: 34px;
    width: auto;
}

.user-nickname {
    left: 35px;
    height: 34px;
    width: auto;
}