.header {
    width: 100%;
    line-height: 40px;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-back-btn {
    width: 10%;
    color: #ff6633;
    font-size: 22px;
}

.header-title {
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: Hiragino Sans GB, Arial, Helvetica, "\5B8B\4F53", sans-serif;
}

.content {
    height: 88%;
    width: 100%;
    background-color: #eee;
    /* display: flex; */
}

.msg-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-content: flex-start;
}

/* .msg-list .msg-box:first-child {
    border-top: 2px solid #ff6633;
} */

.msg-box {
    width: 100%;
    /* height: 10%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: medium;
    margin-bottom: 5px;
}

.others {
    display: flex;
    width: 70%;
    /* padding: 0 1px; */
}

.me {
    display: flex;
    /* flex-wrap: wrap; */
    width: 70%;
    justify-content: flex-end;
    margin-left: 30%;
}


.user-icon {
    width: 34px;
    height: 34px;
}

.user-icon img {
    width: 34px;
    height: 34px;
    background-size: auto;
}

.msg-content {
    background-color: #448bc6;
    border: #1f366a;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.me .user-icon {
    margin-left: 1px;
}

.others .msg-content {
    margin-left: 1px;
}


.notice-state {
    width: 25%;
    text-align: right;
}

.msg-icon {
    width: 100%;
}

.msg-icon img {
    width: 100%;
    /* height: 100%; */
    /* background-size: cover; */
    background-size: auto;
}


.send {
    /* position: fixed; */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 6%;
}

.send .input {
    height: 80%;
    width: 80%;
    margin-top: 1%;
}

.send .input:focus {
    outline: none;
}

.send .upload-btn {
    /* height: 80%; */
    width: 5%;
    text-align: center;
    margin-top: 3%;
}

.send button {
    height: 80%;
    width: 15%;
    margin-top: 1%;
    text-align: center;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    /* margin: 0; */
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    /* padding: 12px 20px; */
    font-size: 14px;
    border-radius: 4px;
}