.header {
    width: 100%;
    line-height: 40px;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ff6633;
    /* box-sizing: border-box; */
}

.header-back-btn {
    width: 10%;
    color: #ff6633;
    font-size: 22px;
}

.header-title {
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: Hiragino Sans GB, Arial, Helvetica, "\5B8B\4F53", sans-serif;
}

.content {
    height: calc(94% - 2px);
    width: 100%;
    /* display: flex; */
}

.msg-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-content: flex-start;
    padding: 5px;
    box-sizing: border-box;
}

/* .msg-list .msg-box:first-child {
    border-top: 2px solid #ff6633;
} */

.msg-box {
    width: 100%;
    /* height: 10%; */
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: medium;
    border-radius: 10px;
    background-color: rgb(213, 231, 230);
    margin-bottom: 2px;
}


.user-icon {
    width: 34px;
    height: 34px;
}

.user-icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.msg-content {
    left: 35px;
    height: 34px;
    width: 70%;
}


.notice-state {
    width: 25%;
    text-align: right;
}

.msg-icon {
    width: 50px;
    height: 80px;
}

.msg-icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
}