<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>好享_haoxiang</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/blog-detail.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

  <style type="text/css">
    .header {
      position: relative;
    }

    .foot-view span {
      font-size: 12px;
    }

    /* .liked {} */
  </style>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="header-title">博客详情</div>
      <div class="header-more-btn">
        <i class="el-icon-more" v-show="user.id == blog.userId" @click="show = !show"></i>
        <i class="el-icon-share" v-show="user.id != blog.userId" @click="shareBlog"></i>
        <el-collapse-transition>
          <div class="menu" v-show="show">
            <div class="transition-box" @click="deleteBlog">删除博客</div>
            <div class="transition-box" v-show="user.id == blog.userId" @click="editBlog">编辑博客</div>
          </div>
        </el-collapse-transition>
      </div>
    </div>
    <div style="height: 85%; overflow-y: scroll; overflow-x: hidden">
      <div class="blog-info-box" ref="swiper">
        <div class="swiper-item" v-if="blog.type == 1">
          <i class="el-icon-arrow-left" @click="imgIndex--" v-show="imgIndex > 0"></i>
          <img :src="blog.images[imgIndex]" alt="" style="width: 100%" height="100%">
          <i class="el-icon-arrow-right" @click="imgIndex++" v-show="imgIndex < blog.images.length - 1"></i>
        </div>
        <div class="swiper-item" v-else-if="blog.type == 2">
          <video controls="controls">
            <source :src="blog.images[0] || '/imgs/blogs/15/0/3a18eb14-4e6b-46ad-b22a-81645c5aaa55.mp4'"
              type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="basic">
        <div class="basic-icon" @click="toOtherInfo(blog.userId)">
          <img :src="blog.icon || '/files/icons/default-icon.png'" alt="">
        </div>
        <div class="basic-info">
          <div class="name">{{blog.name}}</div>
          <span class="time">{{formatTime(new Date(blog.updateTime))}}</span>
        </div>
        <div style="width: 20%">
          <div class="logout-btn" @click="follow" v-show="!user || user.id != blog.userId ">
            {{followed ? '取消关注' : '关注'}}
          </div>
        </div>

      </div>
      <div class="blog-title" v-html="blog.title"></div>
      <div class="blog-text" v-html="blog.content">
      </div>
      <div class="shop-basic" v-show="shop.id !== undefined">
        <div class="shop-icon">
          <img :src="shop.image" alt="">
        </div>
        <div style="width: 80%">
          <div class="name">{{shop.name}}</div>
          <div>
            <el-rate v-model="shop.score/10">
            </el-rate>
          </div>
          <div class="shop-avg">￥{{shop.avgPrice}}/人</div>
        </div>
      </div>
      <div class="zan-box">
        <div>
          <svg t="1646634642977" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
            p-id="2187" width="20" height="20">
            <path
              d="M160 944c0 8.8-7.2 16-16 16h-32c-26.5 0-48-21.5-48-48V528c0-26.5 21.5-48 48-48h32c8.8 0 16 7.2 16 16v448zM96 416c-53 0-96 43-96 96v416c0 53 43 96 96 96h96c17.7 0 32-14.3 32-32V448c0-17.7-14.3-32-32-32H96zM505.6 64c16.2 0 26.4 8.7 31 13.9 4.6 5.2 12.1 16.3 10.3 32.4l-23.5 203.4c-4.9 42.2 8.6 84.6 36.8 116.4 28.3 31.7 68.9 49.9 111.4 49.9h271.2c6.6 0 10.8 3.3 13.2 6.1s5 7.5 4 14l-48 303.4c-6.9 43.6-29.1 83.4-62.7 112C815.8 944.2 773 960 728.9 960h-317c-33.1 0-59.9-26.8-59.9-59.9v-455c0-6.1 1.7-12 5-17.1 69.5-109 106.4-234.2 107-364h41.6z m0-64h-44.9C427.2 0 400 27.2 400 60.7c0 127.1-39.1 251.2-112 355.3v484.1c0 68.4 55.5 123.9 123.9 123.9h317c122.7 0 227.2-89.3 246.3-210.5l47.9-303.4c7.8-49.4-30.4-94.1-80.4-94.1H671.6c-50.9 0-90.5-44.4-84.6-95l23.5-203.4C617.7 55 568.7 0 505.6 0z"
              p-id="2188" :fill="blog.isLike ? '#ff6633' : '#82848a'"></path>
          </svg>
        </div>
        <div class="zan-list">
          <div class="user-icon-mini" v-for="u in likes" :key="u.id">
            <img :src="u.icon || '/files/icons/default-icon.png'" alt="">
          </div>
          <div style="margin-left:10px;text-align: center;line-height: 24px;">{{blog.liked}}人点赞</div>
        </div>
      </div>
      <div class="blog-divider"></div>
      <div class="blog-comments">
        <div class="comments-head">
          <div>热门评论</div>
          <!-- <div><i class="el-icon-arrow-right"></i></div> -->
        </div>
        <div class="comment-list">
          <div class="comment-box" v-for="item in items" :key="item.id">
            <div class="comment-icon" @click="toOtherInfo(item.userId)">
              <img :src="item.user.icon || '/files/icons/default-icon.png'" alt="">
            </div>
            <div class="comment-info">
              <div class="comment-user">
                <span style="width: 30%;">{{item.user.nickName}}</span>
                <i class="el-icon-delete" v-if="item.user.id == user.id" @click="deleteComment(item)"
                  style="width: 60%; text-align: right;"></i>
              </div>
              <div style="padding: 5px 0; font-size: 14px" @click="respondTo(item)">
                {{item.content}}
              </div>
              <div class="comment-more">
                <div class="respondBox" v-for="r in item.respondLists" :key="r.id">
                  <div class="respond-header">
                    <img :src="r.user.icon" alt="" @click="toOtherInfo(r.userId)">
                    <span class="title" style="width: 50%;">{{r.user.nickName}}回复{{r.answerUser.nickName}}</span>
                    <i class="el-icon-delete" v-if="r.user.id == user.id" @click="deleteComment(r)"
                      style="width: 30%; text-align: right;"></i>
                  </div>
                  <div class="respond-content" @click="respondTo(r)">
                    {{r.content}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom" id="bottom"></div>
          <div
            style="display: flex; justify-content: space-between;padding: 15px 0; border-top: 1px solid #f1f1f1; margin-top: 10px;">
            <div>查看全部评论（{{blog.comments}}）条</div>
            <div @click="queryAll()"><i class="el-icon-arrow-right"></i></div>
          </div>
        </div>
      </div>
      <div class="blog-divider"></div>
    </div>
    <div class="foot" v-show="isShow === 0">
      <div class="foot-box">
        <div class="foot-view" @click="addLike()">
          <svg t="1646634642977" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
            p-id="2187" width="26" height="26">
            <path
              d="M160 944c0 8.8-7.2 16-16 16h-32c-26.5 0-48-21.5-48-48V528c0-26.5 21.5-48 48-48h32c8.8 0 16 7.2 16 16v448zM96 416c-53 0-96 43-96 96v416c0 53 43 96 96 96h96c17.7 0 32-14.3 32-32V448c0-17.7-14.3-32-32-32H96zM505.6 64c16.2 0 26.4 8.7 31 13.9 4.6 5.2 12.1 16.3 10.3 32.4l-23.5 203.4c-4.9 42.2 8.6 84.6 36.8 116.4 28.3 31.7 68.9 49.9 111.4 49.9h271.2c6.6 0 10.8 3.3 13.2 6.1s5 7.5 4 14l-48 303.4c-6.9 43.6-29.1 83.4-62.7 112C815.8 944.2 773 960 728.9 960h-317c-33.1 0-59.9-26.8-59.9-59.9v-455c0-6.1 1.7-12 5-17.1 69.5-109 106.4-234.2 107-364h41.6z m0-64h-44.9C427.2 0 400 27.2 400 60.7c0 127.1-39.1 251.2-112 355.3v484.1c0 68.4 55.5 123.9 123.9 123.9h317c122.7 0 227.2-89.3 246.3-210.5l47.9-303.4c7.8-49.4-30.4-94.1-80.4-94.1H671.6c-50.9 0-90.5-44.4-84.6-95l23.5-203.4C617.7 55 568.7 0 505.6 0z"
              p-id="2188" :fill="blog.isLike ? '#ff6633' : '#82848a'"></path>
          </svg>
          <span :class="{liked: blog.isLike}">{{blog.liked}}</span>
        </div>
      </div>
      <div style="width: 40%"></div>
      <div class="foot-box">
        <div class="foot-view" @click="isShow = 1"><i class="el-icon-chat-square"></i></div>
      </div>
    </div>
    <div class="foot" v-show="isShow === 1">
      <el-input type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="content" resize="none" maxlength="100"
        outline="none" style="width: 70%;"></el-input>
      <el-button style="width: 28%" @click="comment(1)">发送</el-button>
    </div>
    <div class="foot" v-show="isShow === 2">
      <el-input type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="content" resize="none" maxlength="100"
        outline="none" style="width: 70%;" :placeholder="getStr()"></el-input>
      <el-button style="width: 28%" @click="comment(2)">发送</el-button>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script>
    let each = function (ary, callback) {
      for (let i = 0, l = ary.length; i < l; i++) {
        if (callback(ary[i], i) === false) break
      }
    }
    const app = new Vue({
      el: "#app",
      data: {
        util,
        blog: {},
        shop: {},
        likes: [],
        user: {}, // 登录用户
        followed: false, // 是否关注了
        _width: 0,
        duration: 300,
        container: null,
        items: [],
        imgIndex: 0,
        content: "",
        isShow: 0,
        show: false,
        respond: {}
      },
      created() {
        let id = util.getUrlParam("id");
        this.queryBlogById(id);
      },
      methods: {
        init() {
          // 获得父容器节点
          this.container = this.$refs.swiper
          // 获得所有的子节点
          this.items = this.container.querySelectorAll('.swiper-item')
          // this.updateItemWidth()
          // this.setTransform()
          // this.setTransition('none')
        },
        goBack() {
          history.back();
        },
        toOtherInfo(id) {
          if (id == this.user.id) {
            location.href = "/info.html"
          } else {
            location.href = "/other-info.html?id=" + id
          }
        },
        queryAll() {
          location.href = "/all-comments.html?id=" + this.blog.id + "&type=" + 1;
        },
        queryBlogById(id) {
          axios.get("/blog/" + id)
            .then(({ data }) => {
              data.images = data.images.split(",")
              this.blog = data;
              this.$nextTick(this.init);
              if (data.shopId !== undefined) {
                console.log(data.shopId);
                this.queryShopById(data.shopId);
              }
              this.queryLikeList(id);
              this.queryBlogComments(id);
              this.queryLoginUser();
            })
            .catch(this.$message.error)
        },
        getStr() {
          return "回复" + this.respond.name;
        },
        queryShopById(shopId) {
          axios.get("/shop/" + shopId)
            .then(({ data }) => {
              data.image = data.images.split(",")[0]
              this.shop = data
            })
            .catch(this.$message.error)
        },
        queryLikeList(id) {
          axios.get("/blog/likes/" + id)
            .then(({ data }) => this.likes = data)
            .catch(this.$message.error)
        },
        queryBlogComments(id) {
          axios.get("/blog-comments/query/" + id)
            .then(({ data }) => {
              this.items = data;
              console.log(data);
            })
            .catch(this.$message.error)
        },
        addLike() {
          axios.put("/blog/like/" + this.blog.id)
            .then(({ data }) => {
              axios.get("/blog/" + this.blog.id)
                .then(({ data }) => {
                  data.images = data.images.split(",")
                  this.blog = data;
                  this.queryLikeList(this.blog.id);
                })
                .catch(this.$message.error)
            })
            .catch(err => {
              this.$message.error(err)
            })
        },
        isFollowed() {
          axios.get("/follow/or/not/" + this.blog.userId)
            .then(({ data }) => this.followed = data)
            .catch(this.$message.error)
        },
        follow() {
          axios.put("/follow/" + this.blog.userId + "/" + !this.followed)
            .then(() => {
              this.$message.success(this.followed ? "已取消关注" : "已关注")
              this.followed = !this.followed
            })
            .catch(this.$message.error)
        },
        formatTime(b) {
          return b.getFullYear() + "年" + (b.getMonth() + 1) + "月" + b.getDate() + "日 ";
        },
        formatMinutes(m) {
          if (m < 10) m = "0" + m
          return m;
        },
        queryLoginUser() {
          // 查询用户信息
          axios.get("/user/me")
            .then(({ data }) => {
              // 保存用户
              this.user = data;
              if (this.user.id !== this.blog.userId) {
                this.isFollowed();
              }
            })
            .catch(this.$message.error)
        },
        // 获取父容器宽度，并且更新所有的子节点宽度，因为我们默认所有子节点的宽高等于父节点的宽高
        updateItemWidth() {
          this._width = this.container.offsetWidth || document.documentElement.offsetWidth
        },
        // 根据当前活动子项的下标计算各个子项的X轴位置
        // 计算公式(子项的下标 - 当前活动下标) * 子项宽度 + 偏移(手指移动距离)；
        setTransform(offset) {
          offset = offset || 0
          each(this.items, (item, i) => {
            let distance = (i - this.active) * this._width + offset
            let transform = `translate3d(${distance}px, 0, 0)`
            item.style.webkitTransform = transform
            item.style.transform = transform
          })
        },
        comment(type) {
          if (this.content === "") {
            this.isShow = 0;
            return;
          }
          let commentObj = new Object();
          commentObj.content = this.content;
          commentObj.userId = this.user.id;
          commentObj.blogId = this.blog.id;
          if (type == 1) {
            commentObj.parentId = 0;
          } else if (type == 2) {
            commentObj.parentId = this.respond.parentId;
            commentObj.answerId = this.respond.answerId;
            commentObj.answerUser = this.respond.answerUser;
          }
          commentObj.liked = 0;
          commentObj.status = 0;
          axios.post("/blog-comments/add", commentObj)
            .then(({ data }) => {
              if (type == 1) {
                this.items = this.items.concat(data)
                console.log(data);
                var element = document.getElementById("bottom");
                setTimeout(() => {
                  element.scrollIntoView();
                })
              } else if (type == 2) {
                this.queryBlogComments(this.blog.id);
              }
              this.content = "";
              this.isShow = 0;
            })
            .catch(err => {
              console.log(err);
              this.$message.error(err)
            });
        },
        respondTo(comment) {
          if (comment.userId == this.user.id) {
            this.isShow = 0;
            return;
          }
          this.respond.name = comment.user.nickName;
          if (comment.parentId == 0) {
            this.respond.parentId = comment.id;
          } else {
            this.respond.parentId = comment.parentId;
          }
          this.respond.answerId = comment.id;
          this.respond.answerUser = comment.user;
          this.isShow = 2;
        },
        deleteBlog() {
          this.$confirm('是否确定删除该博客?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            axios.post("/blog/delete/" + this.blog.id)
              .then(({ data }) => {
                this.$message({
                  type: 'success',
                  message: '删除成功!'
                });
                location.href = "index.html";
              })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });
          });
        },
        editBlog() {
          sessionStorage.setItem("blog", JSON.stringify(this.blog));
          location.href = "blog-edit.html";
        },
        shareBlog() {
          let blog = this.blog;
          blog.userId = this.user.id;
          blog.id = null;
          blog.images = this.blog.images.join(",");
          axios.post("/blog", blog)
            .then(resp => location.href = "/info.html")
            .catch(this.$message.error)
        },
        deleteComment(item) {
          axios.post("/blog-comments/delete/" + item.id)
            .then(({ data }) => {
              if (data) {
                this.queryBlogComments(this.blog.id);
              }
            })
            .catch(this.$message.error)
        }
      }
    })
  </script>
</body>

</html>