<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>好享_haoxiang</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/element.css">
    <link href="./css/info.css" rel="stylesheet">
    <link href="/css/create-group.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div class="header">
            <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
            <div class="header-title">{{getTitle()}}</div>
            <div class="header-submit-btn" @click="submit"><i class="el-icon-check"></i></div>
        </div>
        <div class="body">
            <input type="text" v-model="group.name" placeholder="请输入群昵称" maxlength="10">
            <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none">
            <div class="upload-box">
                <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none">
                <div class="upload-btn" @click="openFileDialog">
                    <i class="el-icon-camera"></i>
                    <div style="font-size: 12px;line-height: 12px">群头像</div>
                </div>
                <div class="pic-list">
                    <div class="pic-box" v-for="(f,i) in fileList" :key="i">
                        <img :src="f" alt="">
                        <!-- <i class="el-icon-close" @click="deletePic(i)"></i> -->
                    </div>
                </div>
            </div>
            <textarea v-model="group.introduce" placeholder="简短介绍下群聊~" rows="3" maxlength="30"></textarea>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="./js/element.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/footer.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                user: "",
                activeName: "1",
                group: {},
                isReachBottom: false,
                fileList: [],
                type: 0
            },
            created() {
                let type = util.getUrlParam("type");
                this.type = type;
                if (type == 1) {
                    let group = JSON.parse(sessionStorage.getItem("group"));
                    this.prepare(group);
                }
                this.queryUser();
            },
            methods: {
                load() {
                    this.count += 2;
                },
                queryUser() {
                    // 查询用户信息
                    axios.get("/user/me")
                        .then(({ data }) => {
                            // 保存用户
                            this.user = data;
                        })
                        .catch(err => {
                            location.href = "login.html"
                        })
                },
                goBack() {
                    location.href = "chat.html"
                },
                openFileDialog() {
                    this.$refs.fileInput.click();
                },
                fileSelected() {
                    let file = this.$refs.fileInput.files[0];
                    let formData = new FormData();
                    formData.append("file", file);
                    const config = {
                        headers: { "Content-Type": "multipart/form-data;boundary=" + new Date().getTime() }
                    };
                    axios
                        .post("/upload/file", formData, config)
                        .then(({ data }) => {
                            if (this.fileList[0] !== null)
                                this.fileList.splice(0, 1)
                            this.fileList.push('/files' + data.fileName);
                        })
                        .catch(this.$message.error);
                },
                deletePic(i) {
                    axios.get("/upload/picture/delete?name=" + this.fileList[i])
                        .then(() => this.fileList.splice(i, 1))
                        .catch(this.$message.error)
                },
                prepare(group) {
                    this.group.name = group.name;
                    this.fileList[0] = group.icon;
                    this.group.introduce = group.introduce;
                    this.group.id = group.id;
                },
                submit() {
                    this.group.icon = this.fileList[0];
                    if (this.type == 0) {
                        this.group.number = 1;
                        this.group.createId = this.user.id;
                    }
                    axios.post("/group/makeGroup", this.group)
                        .then(({ data }) => {
                            if (this.type == 0) {
                                console.log(data.id);
                                console.log("chat为：" + data);
                                sessionStorage.setItem("chat", JSON.stringify(data));
                                location.href = "/msg.html";
                            } else if (this.type == 1) {
                                sessionStorage.removeItem("group");
                                location.href = "/group-info.html?id=" + this.group.id;
                            }
                        })
                        .catch(err => {
                            console.log(err);
                            this.$message.error(err)
                        });
                },
                getTitle() {
                    if (this.type == 0) {
                        return "创建群聊";
                    } else if (this.type == 1) {
                        return "编辑群聊";
                    }
                }
            },
        })
    </script>
</body>

</html>