<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>好享_haoxiang</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/element.css">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/info.css" rel="stylesheet">

    <style type="text/css">
        .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
        .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
        .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
        .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
            padding-left: 15px;
        }

        .el-tabs,
        .el-tab-pane {
            height: 100%;
        }

        .el-tabs__header {
            height: 10%;
        }

        .el-tabs__content {
            height: 90%;
        }
    </style>

</head>

<body>
    <div id="app">
        <div class="header">
            <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
            <div class="header-title">&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div class="basic">
            <div class="basic-icon">
                <img :src="group.icon || '/files/icons/default-icon.png'" alt="">
            </div>
            <div class="basic-info">
                <div class="name">{{group.name}}</div>
                <!-- <span>杭州</span> -->
            </div>
            <div class="logout-btn" @click="follow" style="text-align: center">
                {{followed ? "去聊天" : "申请加入"}}
            </div>
            <!-- <div class="chat-btn" @click="chat" style="text-align: center">
                私信
            </div> -->
        </div>
        <div class="introduce">
            <span v-if="group.introduce">{{group.introduce}}</span>
            <span v-else>无</span>
        </div>
        <!-- <div class="numbers-icon">
            <div class="user-icon-mini" v-for="u in numbers" :key="u.id">
                <img :src="u.icon || '/imgs/icons/default-icon.png'" alt="">
            </div>
        </div> -->
        <div class="out" v-show="followed === true">
            <el-button type="primary" round @click="out">退出群聊</el-button>
        </div>
        <foot-bar :active-btn="0"></foot-bar>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="./js/element.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/footer.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                util,
                user: "",
                activeName: "1",
                group: "",
                chat: "",
                followed: false, // 是否加入了
                numbers: []
            },
            created() {
                this.queryUser();
                this.queryGroup();
            },
            methods: {
                queryUser() {
                    // 查询用户信息
                    axios.get("/user/me")
                        .then(({ data }) => {
                            // 保存用户
                            this.user = data;
                        })
                        .catch(console.log)
                },
                queryGroup() {
                    // 查询用户信息
                    let id = util.getUrlParam("id")
                    axios.get("/group/" + id)
                        .then(({ data }) => {
                            // 保存用户
                            this.group = data;
                            // 是否被关注
                            this.isFollowed();
                            this.queryFiveNumbers();
                        })
                        .catch(console.log)
                },
                goBack() {
                    history.back();
                },
                isFollowed() {
                    axios.get("/group/followed/" + this.group.id)
                        .then(({ data }) => {
                            if (data !== undefined) {
                                console.log(data);
                                this.followed = true;
                                let chatObj = new Object;
                                chatObj.id = data.id;
                                chatObj.fromId = data.fromId;
                                chatObj.fromNickname = this.user.nickName;
                                chatObj.fromIcon = this.user.icon;
                                chatObj.toId = data.toId;
                                chatObj.toNickname = this.group.name;
                                chatObj.toIcon = this.group.icon;
                                chatObj.type = data.type;
                                this.chat = chatObj;
                                console.log(this.chat);
                            }
                        })
                        .catch(this.$message.error)
                },
                follow() {
                    if (this.followed) {
                        console.log("chat为：" + this.chat);
                        sessionStorage.setItem("chat", JSON.stringify(this.chat));
                        location.href = "/msg.html";
                    } else {
                        axios.post("/group/follow/" + this.group.id)
                            .then(({ data }) => {
                                location.href = "notice.html?id=" + this.user.id;
                            })
                            .catch(err => {
                                console.log(err);
                                this.$message.error(err)
                            });
                    }
                },
                out() {
                    this.$confirm('是否退出群聊?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post("/group/out/" + this.group.id)
                            .then(({ data }) => {
                                this.group = data;
                                this.followed = false;
                            })
                            .catch(err => {
                                console.log(err);
                                this.$message.error(err)
                            });
                        this.$message({
                            type: 'success',
                            message: '退出成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'success',
                            message: '已取消'
                        });
                    });
                },
                queryFiveNumbers() {
                    axios.get("/group/five/" + this.group.id)
                        .then(({ data }) => {
                            console.log(data);
                            this.numbers = data;
                        })
                        .catch(this.$message.error)
                }
                // chat() {
                //     let chatObj = new Object();
                //     chatObj.fromId = this.loginUser.id;
                //     // chatObj.fromNickname = this.loginUser.nickName;
                //     // chatObj.fromIcon = this.loginUser.icon;
                //     chatObj.toId = this.user.id;
                //     // chatObj.toNickname = this.user.nickName;
                //     // chatObj.toIcon = this.user.icon;
                //     chatObj.type = 1;
                //     // chatObj.chatName = this.user.nickName;
                //     console.log(chatObj);
                //     console.log(this.loginUser);
                //     axios.post("/chat/make", chatObj)
                //         .then(({ data }) => {
                //             console.log(data.id);
                //             console.log("chat为：" + data);
                //             sessionStorage.setItem("chat", JSON.stringify(data));
                //             location.href = "/msg.html";
                //         })
                //         .catch(err => {
                //             console.log(err);
                //             this.$message.error(err)
                //         });
                // },
                // handleClick(t) {
                //     if (t.name === '2') {
                //         this.queryCommonFollow();
                //     }
                // },
            },

        })
    </script>
</body>

</html>