<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>好享_haoxiang</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/info.css" rel="stylesheet">

  <style type="text/css">
    .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
    .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
      padding-left: 15px;
    }

    .el-tabs,
    .el-tab-pane {
      height: 100%;
    }

    .el-tabs__header {
      height: 10%;
    }

    .el-tabs__content {
      height: 90%;
    }
  </style>

</head>

<body>
  <div id="app">
    <div class="header">
      <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="header-title">个人主页&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="basic">
      <div class="basic-icon">
        <img :src="user.icon || '/files/icons/default-icon.png'" alt="">
      </div>
      <div class="basic-info">
        <div class="name">{{user.nickName}}</div>
        <span>{{info.city}}</span>
        <div class="edit-btn" @click="toMore">
          更多信息
        </div>
      </div>
      <div class="logout-btn" @click="logout">
        退出登录
      </div>
    </div>
    <div class="introduce">
      <span v-if="info.introduce">{{info.introduce}}</span>
      <span v-else>添加个人简介，让大家更好的认识你 <i class="el-icon-edit"></i></span>
    </div>
    <div class="content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="笔记" name="1">
          <div class="blog-list" @scroll="onScroll">
            <div v-for="b in blogs" :key="b.id" class="blog-item">
              <div class="blog-img"><img :src="b.images.split(',')[0]" alt=""></div>
              <div class="blog-info">
                <div class="blog-title">{{b.title}}</div>
                <div class="blog-liked"><img src="/files/thumbup.png" alt=""> {{b.liked}}</div>
                <div class="blog-comments"><i class="el-icon-chat-dot-round"></i> {{b.comments}}</div>
              </div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="评价" name="2">
          <div class="blog-list" @scroll="onScroll">
            <div v-for="c in comments" :key="c.id" class="blog-item">
              <div class="blog-img"><img :src="c.blog.images.split(',')[0]" alt=""></div>
              <div class="blog-info">
                <div class="blog-title">{{c.blog.title}}</div>
                <!-- <div class="blog-liked"><img src="/files/thumbup.png" alt=""> {{b.liked}}</div>
                <div class="blog-comments"><i class="el-icon-chat-dot-round"></i> {{b.comments}}</div> -->
              </div>
              <div class="comment-info">{{c.content}}</div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="粉丝" name="3">
          <div class="blog-list" @scroll="onScroll">
            <div class="user-box" @click="toOtherInfo(f.id)" v-for="f in fans" :key="f.id">
              <div class="user-icon"><img :src="f.icon || '/files/icons/default-icon.png'" alt=""></div>
              <div class="user-nickname">{{f.nickName}}</div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="卡券" name="4">
          <!-- <div class="blog-list" @scroll="onScroll">
            <div class="user-box" @click="toOtherInfo(f.id)" v-for="f in fans" :key="f.id">
              <div class="user-icon"><img :src="f.icon || '/files/icons/default-icon.png'" alt=""></div>
              <div class="user-nickname">{{f.nickName}}</div>
            </div>
          </div> -->
        </el-tab-pane>
      </el-tabs>
    </div>
    <foot-bar :active-btn="4"></foot-bar>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        user: "",
        activeName: "1",
        info: {},
        blogs: [],
        comments: [],
        fans: [],
        current: 1,
        city: "",
        // blogs2: [], // 关注的人的播客
        // params: {
        //   minTime: 0, // 上一次拉取到的时间戳
        //   offset: 0, // 偏移量
        // },
        count: 5,
        isReachBottom: false,
      },
      created() {
        this.queryUser();
      },
      methods: {
        load() {
          this.count += 2;
        },
        queryBlogs() {
          axios.get("/blog/of/me?current=" + this.current)
            .then(({ data }) => {
              if (!data) {
                this.current--;
                return;
              }
              this.blogs = this.blogs.concat(data)
            })
            .catch(this.$message.error)
        },
        queryUser() {
          // 查询用户信息
          axios.get("/user/me")
            .then(({ data }) => {
              // 保存用户
              this.user = data;
              // 查询用户详情
              this.queryUserInfo();
              // 查询用户笔记
              this.queryBlogs();
            })
            .catch(err => {
              location.href = "login.html"
            })
        },
        goBack() {
          history.back();
        },
        queryUserInfo() {
          axios.get("/user/info/" + this.user.id)
            .then(({ data }) => {
              if (!data) {
                return
              }
              // 保存用户详情
              this.info = data;
              // 保存到本地
              console.log(this.info)
              sessionStorage.setItem("userInfo", JSON.stringify(data))
            })
            .catch(err => {
              this.$message.error(err);
            })
        },
        toMore() {
          location.href = 'info-more.html'
        },
        logout() {
          axios.post("/user/logout")
            .then(() => {
              // 清理session
              sessionStorage.removeItem("token")
              // 跳转
              location.href = "/"
            })
            .catch(this.$message.error)
        },
        handleClick(r) {
          if (r.name === '2') {
            this.queryMyComments();
          } else if (r.name === '3') {
            this.queryMyFans();
          }
        },
        queryMyComments() {
          axios.post("/blog-comments/comments")
            .then(({ data }) => {
              this.comments = data;
              console.log(this.comments);
            })
            .catch(err => {
              this.$message.error(err)
            })
        },
        queryMyFans() {
          axios.post("/follow/fans")
            .then(({ data }) => {
              this.fans = data;
              console.log(this.fans);
            })
            .catch(err => {
              this.$message.error(err)
            })
        },
        addLike(b) {
          axios.put("/blog/like/" + b.id)
            .then(({ data }) => {
              this.queryBlogById(b);
            })
            .catch(err => {
              this.$message.error(err)
            })
        },
        queryBlogById(b) {
          axios.get("/blog/" + b.id)
            .then(({ data }) => {
              b.liked = data.liked;
              b.isLike = data.isLike;
            })
            .catch(() => {
              this.$message.error
              b.liked++;
            })
        },
        onScroll(e) {
          let scrollTop = e.target.scrollTop;
          let offsetHeight = e.target.offsetHeight;
          let scrollHeight = e.target.scrollHeight;
          if (scrollTop + offsetHeight + 1 > scrollHeight && !this.isReachBottom) {
            this.isReachBottom = true
            // 再次查询下一页数据
            this.current++;
            this.queryBlogs();
          } else {
            this.isReachBottom = false
          }
        }
      },
    })
  </script>
</body>

</html>